
front-microsite/api/.vs/Culturecubs.Microsite.Functions/DesignTimeBuild/.dtbcache.v2
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/44e7b50b-e7ac-427a-8b04-4a589d7f5052.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/4a059e3c-893d-4264-a3bb-fdbba2b80ca0.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/4ffb75c9-41df-4228-8767-2b735fb38e5a.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/53559f37-9a02-40b9-b3e1-e5c96657d684.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/65080a36-63d9-493b-99fe-f8af191c0e8e.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/abec003c-0abe-441a-9d09-eed8feabe3d6.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/d9432315-80b0-4053-83fd-55e9fdebe2e2.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/FileContentIndex/fa71fd4d-5033-4048-9e46-c3eae1e45e86.vsidx
front-microsite/api/.vs/Culturecubs.Microsite.Functions/v17/.suo
front-microsite/api/Culturecubs.Microsite.DataAccess/bin/Debug/net6.0/Culturecubs.Microsite.DataAccess.dll
front-microsite/api/Culturecubs.Microsite.DataAccess/bin/Debug/net6.0/Culturecubs.Microsite.DataAccess.pdb
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Culturecubs.Microsite.DataAccess.csproj.nuget.dgspec.json
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.assets.cache
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.csproj.CoreCompileInputs.cache
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.csproj.FileListAbsolute.txt
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.dll
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.genruntimeconfig.cache
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/Culturecubs.Microsite.DataAccess.pdb
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/ref/Culturecubs.Microsite.DataAccess.dll
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/Debug/net6.0/refint/Culturecubs.Microsite.DataAccess.dll
front-microsite/api/Culturecubs.Microsite.DataAccess/obj/project.assets.json
