<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/candidates">
    <mat-icon>badge</mat-icon> Candidate
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/jobs">
    <mat-icon>work</mat-icon> Jobs
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contests">
    <mat-icon>campaign</mat-icon> Contests
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
    <mat-icon>people</mat-icon> Users
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/tenants">
    <mat-icon>cloud</mat-icon> Tenants
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <mat-icon>settings</mat-icon> Settings
  </a>

</mat-nav-list>
